# Optional environment variables
PYTHONPATH=.
FTMO_LOGIN=1513449028
FTMO_PASSWORD=dtB*K?a*P37?
FTMO_SERVER=FTMO-Demo
# Example: C:\\Program Files\\MetaTrader 5\\terminal64.exe
MT5_TERMINAL_PATH= C:\\Program Files\\MetaTrader 5\\terminal64.exe
